@if (movie) {
<div [ngClass]="isLine ? 'line' : 'card'" [id]="movie.id">
  <img [src]="movie.posterUrl" alt="poster" class="poster" />
  <div class="info">
    <div class="name">
      <span>{{ movie.name ? movie.name : movie.alternativeName }}</span>
      @if (movie.name && movie.alternativeName && movie.name.length < 30) {
      <span class="alternative">, {{ movie.alternativeName }}</span>
      }
      <!-- @if (movie.name && movie.alternativeName && movie.name.length < 30) {
      {{ movie.name }},
      <span class="alternative">{{ movie.alternativeName }}</span>
      } @else if (movie.name) {
      {{ movie.name }}
      } @else {
      {{ movie.alternativeName }}
      } -->
    </div>
    <div class="rating">
      @if (movie.ratingKp ) {
      {{ movie.ratingKp }} <sub>Кинопоиск</sub>
      } @if (movie.ratingImdb) {}
    </div>
    <div class="other-info">
      {{ movie.year }}
    </div>
  </div>
</div>
}
