@if (movie) {
<div
  [ngClass]="isShort ? 'short' : 'expanded'"
  [id]="movie.id"
  (click)="showMovie(movie.id)"
>
  <img
    #poster
    [src]="movie.posterUrl"
    alt="poster"
    class="poster"
    (click)="test(poster)"
    (onerror)="poster.src = 'placeholder-movie.svg'"
  />
  <div class="info">
    <div class="name">
      <span>{{ movie.name ? movie.name : movie.alternativeName }}</span>
      @if (movie.name && movie.alternativeName && movie.name.length < 30) {
      <span class="alternative">, {{ movie.alternativeName }}</span>
      }
    </div>
    <div class="ratings">
      @if (movie.ratingKp) {
      <span
        class="rating"
        [ngClass]="
          movie.ratingKp >= 7
            ? 'positive'
            : movie.ratingKp < 5
            ? 'negative'
            : ''
        "
      >
        {{ movie.ratingKp | number : "1.1-1" }}
      </span>
      <span class="sub"> Кинопоиск </span>
      } @if (movie.ratingImdb) {
      <span
        class="rating"
        [ngClass]="
          movie.ratingImdb >= 7
            ? 'positive'
            : movie.ratingImdb < 5
            ? 'negative'
            : ''
        "
        >{{ movie.ratingImdb | number : "1.1-1" }}
      </span>
      <span class="sub"> IMDB</span>
      }
    </div>
    <div class="other-info">
      {{ movie.year }}@for (country of movie.countries; track country) {,
      {{ country }}
      }
    </div>
  </div>
</div>
}
