<form action="" (submit)="onSubmit()">
  <input
    type="text"
    [formControl]="line"
    (input)="showMovies()"
    (focus)="changeFocus()"
    placeholder="Введите название"
  />
  <button>
    <img src="icons8-поиск.svg" alt="Search" />
  </button>
  <div class="list-movies" [hidden]="!isFocus">
    @if (this.line.value) { @for (movie of fiveMovies$ | async; track movie.id)
    {
    <app-brief-information-movie
      [movie]="movie"
      [isLine]="true"
    ></app-brief-information-movie>
    } }
  </div>
</form>
