<form action="" class="example-form" [formGroup]="searchForm">
  <div class="genre">
    <app-chips-autocomplete
      [type]="'genres'"
      (changeValue)="addValue($event)"
    ></app-chips-autocomplete>
  </div>
  <div class="countries">
    <app-chips-autocomplete
      [type]="'countries'"
      (changeValue)="addValue($event)"
    ></app-chips-autocomplete>
  </div>
  <mat-form-field class="year">
    <mat-label>Годы</mat-label>
    <mat-select hideSingleSelectionIndicator="true" formControlName="year">
      <mat-option>Все годы</mat-option>
      @for (year of yearOptions; track year.value) {
      <mat-option [value]="year.value">{{ year.text }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div class="ratings" formGroupName="ratings">
    <mat-form-field class="rating-mpaa">
      <mat-label>Рейтинг MPAA</mat-label>
      <mat-select hideSingleSelectionIndicator="true" formControlName="mpaa">
        <mat-option>Любой рейтинг</mat-option>
        @for (mpaa of mpaaOptions; track mpaa.value) {
        <mat-option [value]="mpaa.value" [title]="mpaa.title">{{
          mpaa.text
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="rating-kp">
      <mat-label>Рейтинг Кинопоиск</mat-label>
      <mat-select hideSingleSelectionIndicator="true" formControlName="kp">
        <mat-option>Любой рейтинг</mat-option>
        @for (rating of ratingOptions; track rating.value) {
        <mat-option [value]="rating.value">{{ rating.text }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="rating-imdb">
      <mat-label>Рейтинг IMDB</mat-label>
      <mat-select hideSingleSelectionIndicator="true" formControlName="imdb">
        <mat-option>Любой рейтинг</mat-option>
        @for (rating of ratingOptions; track rating.value) {
        <mat-option [value]="rating.value">{{ rating.text }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-flat-button type="submit" (click)="submitValues()">Поиск</button>
</form>
