form {
  display: flex;
  margin: 2rem;
  // width: min(25rem, 45%);
  // flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 0 1rem;
  // width: 30rem;

  .type {
    align-self: center;
    // width: 28rem;
  }

  .genre,
  .countries {
    // margin-top: 1.25rem;
    min-width: 30rem;
  }

  .ratings {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
    justify-content: space-between;
    // gap: 1rem;

    & > * {
      flex-grow: 1;
    }
  }

  button {
    align-self: center;
  }
}
